
a.back{width:39px;height:38px;margin-left:15px;}

img.flag{width:100px;height:85px;float:right;}

img.icon{width:100px;height:85px;float:left;}


body {

    height:100%;
    background:linear-gradient(to bottom, #0099cc 0%, #ff99cc 100%);
    background-repear:no repeat;
    background-attachment:fixed;
    line-height: 1.6;
}

h1 { 
        margin-left:0px;
    	border:2px solid MidnightBlue;
    	padding:40px;
    	text-align:center;
    	color:#6666ff;
    	border-radius:20px;
    	background: linear-gradient(to right, #ff9900 0%, #ccffff 100%);
    	line-height:85px
  
}

h2 {

   color:#8F148D;
   margin-left:0.7em;



